<%= form_for @wine  do |f| %>
  <% if @wine.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

        <ul>
        <% @wine.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Max Price" %>
    <%= f.text_field :price_max, class: "form-control", type: "number", step: "0.01"%>
  </div>

  <div class="form-group">
    <%= f.label "Retail Price" %>
    <%= f.text_field :price_retail, class: "form-control", type: "number", step: "0.01"%>
  </div>

  <div class="form-group">
    <%= f.label "Min Price" %>
    <%= f.text_field :price_min, class: "form-control", type: "number", step: "0.01"%>
  </div>


  <div class="form-group">
    <%= f.label "Select Varietal" %>
    <%= f.select :varietal_id, Varietal.all.collect {|v| [v.name, v.id]}, {include_blank: true}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Select Appellation" %>
    <%= f.select :appellation_id, Appellation.all.collect {|a| [a.name, a.id]}, {include_blank: true}, class: "form-control" %>
  </div>

  <%= link_to "Create New Appellation", new_appellation_path %>

  <div class="form-group">
    <%= f.label "Select Vineyard" %>
    <%= f.select :vineyard_id, Vineyard.all.collect {|v| [v.name, v.id]}, {include_blank: true}, class: "form-control" %>
  </div>

  <%= link_to "Create New Vineyard", new_vineyard_path %>

  <div class="form-group">
    <%= f.submit %>
  </div>
<% end %>
